section {
    padding: 20px 0;
}

section:nth-of-type(odd) {
    background-color:#fff;
}
        
section:nth-of-type(even) {
    background-color:#f8f8f8;
}

/* Robot Intro*/

section.robot-intro img:hover {
  box-shadow: 0px 30px 60px 0px rgba(0, 11, 40, 0.14);
  transition: all 0.3s linear;
}

/*================= pricing_area css ==============*/
.pricing_area {
    background: #fbfbfd; }
  
  .price_tab {
    border-radius: 45px;
    max-width: 400px;
    background-color: white;
    box-shadow: 0px 3px 13px 0px rgba(0, 11, 40, 0.08);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border: 0px;
    padding: 7px;
    justify-content: center;
    position: relative; }
    .price_tab .nav-item {
      padding: 0px;
      margin: 0px; }
      .price_tab .nav-item .nav-link {
        margin: 0px;
        font: 400 16px "Poppins", sans-serif;
        color: #58CEA3;
        padding: 12px 30px;
        display: inline-block;
        border: 0px;
        border-radius: 45px;
        min-width: 193px;
        text-align: center;
        transition: color 0.3s linear;
        position: relative;
        z-index: 1; }
        .price_tab .nav-item .nav-link.active {
          border: 0px;
          border-radius: 45px;
          background: transparent;
          color: #fff; }
    .price_tab .hover_bg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: #00aff0;
      left: 0;
      height: calc(100% - 14px);
      border-radius: 45px;
      z-index: 0;
      transition: all 0.2s linear; }
  
  .price_tab_two .hover_bg {
    background: #5f2eed; }
  
  .price_content .fade {
    transform: translateY(10px);
    transition: all 0.3s linear; }
    .price_content .fade.show {
      transform: translateY(0px); }
  
  .price_content .price_item {
    text-align: center;
    background-color: white;
    box-shadow: 0px 4px 6px 0px rgba(0, 11, 40, 0.1);
    padding: 50px 50px 40px;
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.2s linear;
    cursor: pointer; }
    .price_content .price_item .tag {
      position: absolute;
      font: 400 14px "Poppins", sans-serif;
      color: #fff;
      background: #00aff0;
      padding: 19px 32px;
      top: -10px;
      left: -39px;
      transform: rotate(-45deg); }
      .price_content .price_item .tag span {
        position: relative;
        top: 11px; }
    .price_content .price_item p {
      font-size: 16px;
      line-height: 22px;
      color: #58CEA3;
      font-weight: 300;
      margin-bottom: 0px; }
    .price_content .price_item .price {
      line-height: 40px;
      border-bottom: 1px solid #e9e9f4;
      padding: 33px 0px 30px; }
      .price_content .price_item .price sub {
        color: #58CEA3;
        bottom: 0; }
    .price_content .price_item .p_list {
      padding: 30px 0px 20px; }
      .price_content .price_item .p_list li {
        font: 300 16px/40px "Poppins", sans-serif;
        color: #505975; }
        .price_content .price_item .p_list li i {
          padding-right: 10px; }
        .price_content .price_item .p_list li .ti-check {
          color: #00aff0; }
        .price_content .price_item .p_list li .ti-close {
          color: #f0002d; }
    .price_content .price_item .price_btn {
      border-radius: 45px;
      color: #00aff0;
      border-color: #00aff0;
      padding: 0px 36px; }
      .price_content .price_item .price_btn:hover {
        color: #fff;
        background: #00aff0; }
    .price_content .price_item:hover {
      border-color: #c9ebfa;
      box-shadow: 0px 30px 60px 0px rgba(0, 11, 40, 0.14); }
  
  /*=================== pricing_area_two css ===============*/
  .pricing_area_two {
    background: #f6f7fa; }
  
  .price_content_two .price_item .tag {
    background: #5f2eed; }
  
  .price_content_two .price_item .p_list li .ti-check {
    color: #5f2eed; }
  
  .price_content_two .price_item .price_btn {
    border-color: #5f2eed;
    color: #5f2eed;
    background: transparent; }
    .price_content_two .price_item .price_btn:hover {
      background: #5f2eed;
      color: #fff; }
  
  .price_content_two .price_item:hover {
    border-color: #dad1f8; }
  
  .price_content_three .price_item .tag {
    background: #5f51fb; }
  
  .price_content_three .price_item .p_list li .ti-check {
    color: #5f51fb; }
  
  .price_content_three .price_item .price_btn {
    border-color: #5f51fb;
    color: #5f51fb;
    background: transparent; }
    .price_content_three .price_item .price_btn:hover {
      background: #5f51fb;
      color: #fff; }
  
  .price_content_three .price_item:hover {
    border-color: #dfdcfe; }
  
  /*================== call_action_area css ================*/
  .call_action_area {
    min-height: 900px;
    position: relative;
    background-image: -moz-linear-gradient(180deg, #1786d8 0%, #00aff0 100%);
    background-image: -webkit-linear-gradient(180deg, #1786d8 0%, #00aff0 100%);
    background-image: -ms-linear-gradient(180deg, #1786d8 0%, #00aff0 100%);
    z-index: 1;
    padding-top: 250px;
    position: relative;
    overflow: hidden; }
    .call_action_area:before {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: url("../img/home2/action_bg.png") no-repeat scroll center 0; }
    .call_action_area .action_one {
      left: -240px;
      bottom: 0;
      height: 100%;
      z-index: -1; }
    .call_action_area .action_two {
      right: 0;
      background-position: 50% 50%;
      z-index: -1;
      top: 0; }
    .call_action_area .action_content {
      max-width: 570px;
      margin: 0 auto;
      position: relative;
      z-index: 1; }
      .call_action_area .action_content h2 {
        margin-bottom: 15px;
        color: #fff; }
      .call_action_area .action_content p {
        font-weight: 300;
        color: #fff; }
      .call_action_area .action_content .action_btn {
        min-width: 180px;
        line-height: 55px;
        border-radius: 45px;
        box-shadow: 0px 20px 40px 0px rgba(0, 11, 40, 0.2);
        background: #fff;
        color: #00aff0; }
        .call_action_area .action_content .action_btn:hover {
          box-shadow: none; }

/*============== getting_started css =============*/
.getting_started {
    background: #f9f9fc; }
  
  .getting_started_tab {
    margin: 0px;
    border: 0px;
    display: block; }
    .getting_started_tab .nav-item {
      margin: 0px; }
      .getting_started_tab .nav-item .nav-link {
        display: block;
        padding: 16px 32px 16px 40px;
        transition: border-left-color .25s linear;
        border-radius: 0px;
        border: 0px;
        border-left: 4px solid #e6e8ef;
        background: transparent;
        /* font: 400 16px "Poppins", sans-serif; */
        color: #111;
        position: relative; }
        .getting_started_tab .nav-item .nav-link:before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 0 7px 8px;
          border-color: transparent transparent transparent #58CEA3;
          position: absolute;
          left: -2px;
          top: 50%;
          transform: translateY(-50%);
          opacity: 0; }
        .getting_started_tab .nav-item .nav-link.active {
          border-left-color: #58CEA3;
          font-weight: bold;
          color: #111; }
          .getting_started_tab .nav-item .nav-link.active:before {
            opacity: 1; }
  
  .getting_started_tab_content {
    margin-bottom: -70px; }
    .getting_started_tab_content .gewtting_started_item {
      padding-right: 30px; }
      .getting_started_tab_content .gewtting_started_item i {
        font-size: 30px;
        color: #3d64f4;
        line-height: 40px; }
      .getting_started_tab_content .gewtting_started_item h5 {
        /* font: 600 17px/25px "Poppins", sans-serif; */
        color: #222d39; }
      /*.getting_started_tab_content .gewtting_started_item p {
         font-size: 15px; } */
  

    /* Features & Functions Info */

    .feats_info {
        border: 1px solid #f4f4f9;
        background-color: white;
        box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
        padding: 20px; 
    }
        .feats_info .info_head {
          border-bottom: 1px solid #eeebf6;
          padding-bottom: 16px; }
          .feats_info .info_head i {
            font-size: 40px;
            color: #9979f7;
            text-shadow: 0px 14px 30px rgba(94, 44, 237, 0.4);
            margin-bottom: 35px;
            display: inline-block; }
        .feats_info .info_item {
          position: relative;
          padding-left: 30px;
          margin-top: 25px; }
          .feats_info .info_item i {
            color: #9979f7;
            font-size: 18px;
            position: absolute;
            left: 0;
            top: 5px; }
          .feats_info .info_item h6 {
            font-size: 18px;
            color: #222d39;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            margin-bottom: 5px; }
          .feats_info .info_item p {
            margin-bottom: 0px;
            font-size: 14px;
            font-weight: 300;
            color: #58CEA3; }


/*============== FAQ Styles =============*/
.faq_tab {
    border: 1px solid #f4f4f9;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
    padding: 50px 40px; }
    .faq_tab .nav-tabs {
      border: 0px;
      margin-bottom: 0px;
      display: block; }
    .faq_tab .nav-item {
      margin: 0px; }
      .faq_tab .nav-item .nav-link {
        /* font: 400 16px/22px "Poppins", sans-serif; */
        color: #58CEA3;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        position: relative;
        margin-bottom: 20px; }
        .faq_tab .nav-item .nav-link:before {
          content: "";
          width: 0;
          height: 1px;
          background: #111;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: width 0.2s linear; }
        .faq_tab .nav-item .nav-link.active {
          color: #111; }
          .faq_tab .nav-item .nav-link.active:before {
            width: 100%; }
  
  .faq_content .tab-pane .card {
    border: 0px;
    border-radius: 0px;
    background: transparent;
    border-bottom: 1px solid #e4e0ee; }
    .faq_content .tab-pane .card .card-header {
      padding: 0px;
      border: 0px;
      background: transparent; }
      .faq_content .tab-pane .card .card-header .btn {
        color: #111;
        display: block;
        width: 100%;
        text-align: left;
        /* font: 500 18px/26px "Poppins", sans-serif; */
        padding: 20px 30px 20px 0px;
        position: relative;
        white-space: normal; }
        .faq_content .tab-pane .card .card-header .btn i {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          display: none;
          font-size: 20px; }
          .faq_content .tab-pane .card .card-header .btn i + i {
            display: block; }
        .faq_content .tab-pane .card .card-header .btn.collapsed {
          color: #576370; }
          .faq_content .tab-pane .card .card-header .btn.collapsed i {
            display: block; }
            .faq_content .tab-pane .card .card-header .btn.collapsed i + i {
              display: none; }
              .faq_content .tab-pane .card .card-header .btn:hover {
                  text-decoration: none;
                  cursor: pointer;
              }
    .faq_content .tab-pane .card .card-body {
      padding: 0px 0px 45px;
      /* font: 400 15px/26px "Poppins", sans-serif; */
      color: #111; }

      .faq_content .tab-pane .card .card-header .btn .fa {
          color: #58CEA3;
      }
  
/*====================================================*/
/* BUTTON OVERRIDES */
.btn_hover {
    overflow: hidden;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s linear; }
    .btn_hover:hover {
      color: #fff; }
  
.btn_get {
font: 500 14px/47px "Poppins", sans-serif;
color: #0a9ce5;
border: 2px solid #ccc5fa;
border-radius: 4px;
box-shadow: 0px 20px 24px 0px rgba(0, 11, 40, 0.1);
padding: 0px 23px;
transform: perspective(1px) translateZ(0);
transition-property: color;
transition: all 0.3s ease;
min-width: 120px;
text-align: center; }
.btn_get:hover {
    color: #fff;
    background: #0a9ce5;
    border-color: #0a9ce5;
    box-shadow: none; }
  
  .btn_get_two {
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff; }
    .btn_get_two:hover {
      background: transparent;
      color: #5e2ced; }
  
  .price_btn {
    font: 500 15px/53px "Poppins", sans-serif;
    color: #6754e2;
    border: 1px solid #6754e2;
    border-radius: 4px;
    padding: 0px 25px;
    display: inline-block;
    transition: background 0.2s linear; }
    .price_btn:hover {
      background: #6754e2;
      color: #fff; }
  
  .slider_btn {
    font: 500 14px/20px "Poppins", sans-serif;
    color: #00aff0;
    border-radius: 45px;
    padding: 15px 35px;
    background: #fff; }
    .slider_btn:hover {
      background: #00aff0;
      color: #fff; }
  
  .btn_three {
    font: 500 14px "Poppins", sans-serif;
    color: #fff;
    background: #F0A33D;
    border-radius: 3px;
    padding: 15px 30px;
    border: 1px solid #F0A33D;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    /* margin-top: 50px; */
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s linear;
    cursor: pointer;
    display: inline-block; }
    .btn_three:hover {
      /* color: #F0A33D;*/
      border: 1px solid #F0A33D; 
      background: #F0A33D;;
      box-shadow: 0 0 0 0 rgba(0,0,0,.2);
     }
  
  .agency_banner_btn {
    font: 500 14px "Poppins", sans-serif;
    color: #fff;
    background: #5e2ced;
    box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    border-radius: 3px;
    padding: 16px 38px;
    border: 1px solid #5e2ced;
    transition: all 0.2s linear;
    cursor: pointer; }
    .agency_banner_btn:hover {
      color: #5e2ced;
      box-shadow: none;
      background: transparent; }
  
  .agency_banner_btn_two {
    font: 500 14px "Poppins", sans-serif;
    color: #222d39;
    position: relative;
    margin-left: 50px;
    transition: color 0.2s linear; }
    .agency_banner_btn_two:before {
      content: "";
      width: 100%;
      height: 1px;
      background: #60656d;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: background 0.2s linear; }
    .agency_banner_btn_two:hover {
      color: #5e2ced; }
      .agency_banner_btn_two:hover:before {
        background: #5e2ced; }
  
  .software_banner_btn {
    font: 500 14px "Poppins", sans-serif;
    color: #fff;
    background: #3d64f4;
    box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    display: inline-block;
    padding: 16px 42px;
    border-radius: 45px;
    border: 0px;
    transition: all 0.2s linear; }
    .software_banner_btn:hover {
      color: #3d64f4;
      background: #fff; }
  
  .video_btn {
    font: 500 14px "Poppins", sans-serif;
    color: #fff;
    margin-left: 30px; }
    .video_btn .icon {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: #fff;
      display: inline-block;
      color: #3d64f4;
      text-align: center;
      line-height: 46px;
      font-size: 18px;
      margin-right: 18px;
      vertical-align: middle;
      box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.19); }
    .video_btn span {
      display: inline-block;
      position: relative; }
      .video_btn span:before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        background: #fff; }
    .video_btn:hover {
      color: #fff; }
  
  .btn_four {
    font: 500 14px "Poppins", sans-serif;
    padding: 16px 40px;
    border-radius: 45px;
    color: #fff;
    border: 1px solid #3d64f4;
    background: #3d64f4;
    cursor: pointer; }
    .btn_four:hover {
      color: #3d64f4;
      background: transparent; }
  
  .saas_banner_btn {
    padding: 16px 40px;
    background: #3d57f4;
    border-radius: 4px;
    color: #fff; }
    .saas_banner_btn:hover {
      color: #3d57f4;
      background: #fff; }
  
  .btn_five {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 3px;
    padding: 12px 28px; }
    .btn_five:hover {
      background: #3d57f4;
      border-color: #3d57f4; }
  
  .app_btn {
    box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    background-color: #4069eb;
    display: inline-block;
    padding: 14px 40px;
    color: #fff;
    border-radius: 45px;
    border: 1px solid #4069eb; }
    .app_btn:hover {
      color: #4069eb;
      background: #fbfbfd;
      box-shadow: none; }
  
  .gr_btn {
    font: 500 14px "Poppins", sans-serif;
    color: #23b1fe;
    display: inline-block;
    padding: 15px 31px;
    position: relative;
    min-width: 140px;
    border-radius: 4px;
    background-image: -moz-linear-gradient(-48deg, #237efd 0%, #24b0fe 46%, #24e2ff 100%);
    background-image: -webkit-linear-gradient(-48deg, #237efd 0%, #24b0fe 46%, #24e2ff 100%);
    background-image: -ms-linear-gradient(-48deg, #237efd 0%, #24b0fe 46%, #24e2ff 100%);
    z-index: 1;
    transition: color 0.2s linear; }
    .gr_btn:before {
      content: "";
      position: absolute;
      top: 1px;
      left: 50%;
      width: calc(100% - 2px);
      bottom: 1px;
      border-radius: 4px;
      background: #fff;
      z-index: 0;
      transition: opacity 0.2s linear;
      transform: translatex(-50%); }
    .gr_btn .text {
      position: relative;
      z-index: 1; }
    .gr_btn:hover {
      color: #fff; }
      .gr_btn:hover:before {
        opacity: 0; }
  
  .btn_six {
    background: #17c7bd;
    font-size: 15px;
    border: 1px solid #17c7bd;
    padding: 13px 35px;
    color: #fff;
    transition: all 0.3s linear;
    display: inline-block; }
    .btn_six:hover {
      background: #ebfaf9;
      color: #17c7bd; }
    .btn_six + .btn_six {
      background: #ebfaf9;
      color: #17c7bd;
      margin-left: 20px; }
      .btn_six + .btn_six i {
        padding-right: 5px; }
      .btn_six + .btn_six:hover {
        background: #17c7bd;
        color: #fff; }
  
  .seo_btn {
    display: inline-block;
    padding: 11px 40px;
    border-radius: 4px; }
  
  .seo_btn_one {
    color: #5e2ced;
    background: #e8e1fc; }
    .seo_btn_one:hover {
      background: #5e2ced;
      color: #fff; }
  
  .seo_btn_two {
    color: #00c99c;
    background: #d4f6ee; }
    .seo_btn_two:hover {
      background: #00c99c;
      color: #fff; }
  
/*====================================================*/
/* STAR RATINGS */


.hero-header__star-rating {
    margin-bottom: 14px;
    /* display: flex; */
    text-align: center;
    align-items: flex-start
}

.hero-header__star-rating-label,.hero-header__star-rating i {
    color: #ccc
}

.hero-header__star-rating-label {
    margin-left: 5px
}

.hero-header__star-rating i.fa-star {
    color: #fc0
}

.hero-header__star-rating i {
    font-size: 18px
}

.hero-header__star-rating .star-wrapper {
    height: 18px;
    display: inline-block;
    position: relative;
    width: 100px
}

.hero-header__star-rating .star-wrapper .stars-filled,.hero-header__star-rating .star-wrapper .stars-open {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: block;
    white-space: nowrap
}

.hero-header__star-rating .star-wrapper img {
    width: 20px;
    display: block;
    position: absolute
}

.hero-header__star-rating .star-wrapper img:first-of-type {
    left: 0
}

.hero-header__star-rating .star-wrapper img:nth-of-type(2) {
    left: 20px
}

.hero-header__star-rating .star-wrapper img:nth-of-type(3) {
    left: 40px
}

.hero-header__star-rating .star-wrapper img:nth-of-type(4) {
    left: 60px
}

.hero-header__star-rating .star-wrapper img:nth-of-type(5) {
    left: 80px
}

/*============ testimonials_sec css =============*/
.testimonials_sec {
    background: #fafbff;
 }
    .testimonials_sec .testimonial_img {
      margin-bottom: -82px;
      position: relative;
      z-index: 1; }
  
  .testimonials_sec_info .testimonial_content {
    padding-left: 80px;
    position: relative;
    margin-top: 100px; }
    .testimonials_sec_info .testimonial_content .icon {
      font-size: 300px;
      color: #ebeff9;
      position: absolute;
      transform: rotate(180deg);
      left: -35px;
      top: 0;
      font-family: "Poppins", sans-serif;
      height: 133px; }
    .testimonials_sec_info .testimonial_content p {
      line-height: 34px;
      margin-bottom: 45px; }
    .testimonials_sec_info .testimonial_content .author_description {
      color: #6781a9;
      font-weight: 300;
      padding-top: 5px; }
  
/*============ Pros & Cons css =============*/
  
    .pros_cons_sec.card {
        border: 0;
        margin-bottom: 30px;
        margin-top: 100px;
        border-radius: 6px !important;
        color: rgba(0,0,0,.87);
        background: #fff;
        width: 100%;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    }

    .pros_cons_sec .card-title{
      font-weight: 700 !important;
      margin-top: 10px;
      color: #3c4858;
      font-family: Roboto Slab,Times New Roman,serif;
  }
    
  .pros_cons_sec .card .card-body{
        padding: .9375rem 1.875rem;
    }
    
    .pros_cons_sec .card-description{
        color: #999;
    }
    
    .pros_cons_sec .card.card-profile{
        text-align: center;
    }
    .pros_cons_sec .card .card-header.card-header-image {
        position: relative;
        padding: 0;
        z-index: 1;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -30px;
        border-radius: 6px;
        max-height: 215px;
    }
    
    .pros_cons_sec .card .card-header.card-header-image a {
        display: block;
    }
    
    .pros_cons_sec .card .card-header.card-header-image img {
        width: 100%;
        height: 215px;
        border-radius: 6px;
        pointer-events: none;
        box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
    }
    
    .pros_cons_sec .card .card-header.card-header-image .colored-shadow {
        transform: scale(.94);
        top: 12px;
        filter: blur(12px);
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: -1;
        transition: opacity .45s;
        opacity: 1;
    }
    
    .pros_cons_sec .card .card-header.card-header-image .card-title {
        position: absolute;
        bottom: 5px;
        left: 15px;
        color: #fff;
        font-size: 1.125rem;
        text-shadow: 0 2px 5px rgba(33,33,33,.5);
        font-weight: 700;
        font-family: 'Roboto Slab';
    }
    
    .pros_cons_sec .card .card-category {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    
    .card .card-body+.card-footer {
        padding-top: 0;
        border: 0;
        border-radius: 6px;
    }
    
    .card .card-footer {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: 0;
    }
    
    .pros_cons_sec .card-profile .card-footer .btn.btn-just-icon{
        font-size: 20px;
        padding: 12px 13px;
        line-height: 1em;
    }
    
    .pros_cons_sec .card .card-footer {
        padding: .9375rem 1.875rem;
    }
    
    
    .pros_cons_sec .card-profile .card-body+.card-footer{
        margin-top: -15px;
    }
    .pros_cons_sec .card .text-info {
        color: #00bcd4!important;
    }
    
    .pros_cons_sec .card-profile .card-avatar {
        width: 130px;
        max-width: 130px;
        max-height: 130px;
        margin: -50px auto 0;
        border-radius: 50%;
        overflow: hidden;
        padding: 0;
        box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    }
    
    .pros_cons_sec .card-profile .card-avatar img{
        width: 100%;
    }
    .pros_cons_sec .card-profile .card-avatar+.card-body{
        margin-top: 15px;
    }

    /*================= pricing_area css ==============*/
.price_content .fade {
  transform: translateY(10px);
  transition: all 0.3s linear; }
  .price_content .fade.show {
    transform: translateY(0px); }

.price_content .price_item {
  text-align: center;
  background-color: white;
  box-shadow: 0px 4px 6px 0px rgba(0, 11, 40, 0.1);
  padding: 50px 50px 40px;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
  transition: all 0.2s linear;
  cursor: pointer; }
  .price_content .price_item .tag {
    position: absolute;
    font: 400 14px "Poppins", sans-serif;
    color: #fff;
    background: #00aff0;
    padding: 19px 32px;
    top: -13px;
    left: -39px;
    transform: rotate(-45deg); }
    .price_content .price_item .tag span {
      position: relative;
      top: 16px; }
  .price_content .price_item p {
    font-size: 16px;
    line-height: 22px;
    color: #677294;
    font-weight: 300;
    margin-bottom: 0px; }
  .price_content .price_item .price {
    line-height: 40px;
    border-bottom: 1px solid #e9e9f4;
    padding: 33px 0px 30px; }
    .price_content .price_item .price sub {
      color: #677294;
      bottom: 0; }
  .price_content .price_item .p_list {
    padding: 30px 0px 20px; }
    .price_content .price_item .p_list li {
      font: 300 16px/40px "Poppins", sans-serif;
      color: #505975;
      line-height: 1.5;
      margin-bottom: 1rem; }
      .price_content .price_item .p_list li i {
        padding-right: 10px; }
      .price_content .price_item .p_list li .fa-check {
        color: #58CEA3; }
      .price_content .price_item .p_list li .fa-close {
        color: #f0002d; }
  .price_content .price_item .price_btn {
    border-radius: 45px;
    color: #00aff0;
    border-color: #00aff0;
    padding: 0px 36px; }
    .price_content .price_item .price_btn:hover {
      color: #fff;
      background: #00aff0; }
  .price_content .price_item.cons:hover {
    border-color: #ff0000;
    box-shadow: 0px 30px 60px 0px rgba(0, 11, 40, 0.14); }
    .price_content .price_item.pros:hover {
      border-color: #58CEA3;
      box-shadow: 0px 30px 60px 0px rgba(0, 11, 40, 0.14); }


  .testimonial {
    position: relative;
    margin: 4em auto 3em;
    width: 70%;
}
.testimonial:before {
    font-size: 15em; /* To change the quotation mark size, adjust font-size only and the other measurements will resize accordingly */
    position: absolute;
    padding-top: -0.5em;
    top: -0em;
    left: -0.24em;
    color: #58CEA3;
    content: "\201C";
    z-index: 1;
}
.bubble {
    position:relative;
    padding: 2em;
    width: auto;
    border-radius: 12px;
    border: 4px solid #58CEA3;
    box-shadow: 0px 4px 6px 0px rgba(0, 11, 40, 0.1);
}
.bubble p {
    position: relative;
    z-index: 2;
}
.bubble p:last-child {
    margin-bottom: 0;
}

.bubble:before,
.bubble:after {
    display:block;
    position:absolute;
    right:4em;
    bottom:-18px;
    width: 0;
    height: 0;
    content: "\0020";
    border: solid 20px transparent;
    border-bottom: 0;
    border-top-color:#fff;
    overflow:hidden;
    z-index:2;
}
.bubble:before {
    bottom:-24px;
    border-top-color: #58CEA3;
    z-index:1;
}
.bubble-sig {
    position: relative;
    margin-top: 30px;
    right: 3em;
    /* font: bold 1em/1.4 Arial, sans-serif; */
    text-align: right;
    line-height: 1.2;
}
.bubble-sig span {
    display: block;
    font-weight: normal;
    font-size: 0.9em;
}









figure.snip1192 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1192 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1192 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
}
figure.snip1192 blockquote {
  font: 300 16px/40px "Poppins", sans-serif;
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 30px 50px 65px 50px;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #666666;
  margin: 0 0 -50px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1192 blockquote:before {
  top: 35px;
  left: 20px;
  color: #58CEA3;
}
figure.snip1192 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
  color: #58CEA3;
}
figure.snip1192 .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
figure.snip1192 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1192 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}


/*============= step by step _tab_area 2 css ============*/
.design_tab_area {
  background: #fbfbfd; }

.design_tab {
  border: 0px; }
  .design_tab .nav-item {
    width: 100%;
    margin-bottom: 30px; }
    .design_tab .nav-item .nav-link {
      background-color: white;
      box-shadow: 0px 2px 3px 0px rgba(12, 0, 46, 0.04);
      border: 0px;
      border-radius: 0px;
      padding: 25px 50px;
      transition: background 0.5s ease 0s; }
      .design_tab .nav-item .nav-link h5 {
        font-size: 17px;
        line-height: 26px;
        font-weight: 500;
        color: #222d39;
        transition: color 0.5s ease 0s; }
      .design_tab .nav-item .nav-link p {
        margin-bottom: 0px;
        font-size: 15px;
        font-weight: 300;
        color: #677294;
        transition: color 0.5s ease 0s; }
      .design_tab .nav-item .nav-link.active {
        background-color: #58CEA3; }
        .design_tab .nav-item .nav-link.active h5, .design_tab .nav-item .nav-link.active p {
          color: #fff; }

.tab-content .tab-pane .tab_img img {
  transform: translateX(20px);
  transition: all 0.3s linear;
  max-width: 100%; }

.tab-content .tab-pane.show .tab_img img {
  transform: translateX(0); }

.tab-content .tab_img {
  margin-right: -160px;
  padding-left: 120px;
  max-width: 100%; }



  /*============== agency_featured_area css =============*/
.agency_featured_area {
  padding-top: 160px; }

.agency_featured_area_two {
  padding-bottom: 150px; }

.features_info {
  position: relative;
  padding-bottom: 170px; }
  .features_info .dot_img {
    position: absolute;
    left: 0;
    top: 28px; }
  .features_info.feature_info_two {
    padding-bottom: 70px; }

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 161, 39, 0.161);
  display: block;
  position: absolute;
  left: -9px;
  top: 15px;
  z-index: 1; }
  .dot .dot1 {
    position: absolute;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    top: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #feb85d; }
  .dot .dot2 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(254, 184, 93, 0.8);
    animation: pulsate 3s infinite;
    animation-delay: 1.5s;
    transform: translate(-50%, -50%);
    will-change: transform; }
  .dot.middle_dot {
    left: 54.8%;
    transform: translateX(-50%);
    bottom: 0;
    top: auto; }

.agency_featured_item {
  margin-top: 130px; }
  .agency_featured_item .agency_featured_content {
    position: relative; }
    .agency_featured_item .agency_featured_content h3 {
      font: 500 26px/36px "Poppins", sans-serif;
      color: #222d39;
      margin: 32px 0px 25px; }
    .agency_featured_item .agency_featured_content p {
      font-size: 15px; }
    .agency_featured_item .agency_featured_content .icon {
      width: 46px;
      height: 46px;
      line-height: 46px;
      border-radius: 50%;
      background-image: -moz-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
      background-image: -webkit-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
      background-image: -ms-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
      box-shadow: 0px 10px 20px 0px rgba(94, 44, 237, 0.2);
      font-size: 20px;
      color: #fff;
      display: inline-block;
      text-align: center; }
  .agency_featured_item.agency_featured_item_two .agency_featured_content .dot {
    left: 30px; }

    .mt_60 {
      margin-top: 60px; }
    
    .mt_30 {
      margin-top: 30px; }
    
    .mt_40 {
      margin-top: 40px; }
    
    .mt_70 {
      margin-top: 70px; }
    
    .mt_75 {
      margin-top: 75px; }
    
    .mt_100 {
      margin-top: 100px; }
    
    .mt_130 {
      margin-top: 130px; }
    
    .mb_70 {
      margin-bottom: 70px; }
    
    .mb_20 {
      margin-bottom: 20px; }
    
    .mb_15 {
      margin-bottom: 15px; }
    
    .mb_30 {
      margin-bottom: -30px; }
    
    .mb-30 {
      margin-bottom: 30px; }
    
    .mb_40 {
      margin-bottom: 40px; }
    
    .mb_50 {
      margin-bottom: 50px; }
    
    .mb-50 {
      margin-bottom: -50px; }
    
    .mb_60 {
      margin-bottom: 60px; }
    
    .mb_90 {
      margin-bottom: 90px; }
    
    .pl_20 {
      padding-left: 20px; }
    
    .pl-30 {
      padding-left: 30px; }
    
    .pl_40 {
      padding-left: 40px; }
    
    .pl_50 {
      padding-left: 50px; }
    
    .pl_100 {
      padding-left: 100px; }
    
    .pl_70 {
      padding-left: 70px; }
    
    .pl_120 {
      padding-left: 120px; }
    
    .pr_100 {
      padding-right: 100px; }
    
    .pr_120 {
      padding-right: 120px; }
    
    .pr_70 {
      padding-right: 70px; }
    
    .pr_50 {
      padding-right: 50px; }
    
    .pr_20 {
      padding-right: 20px; }
    
    .pt_150 {
      padding-top: 150px; }
    
    .pt_120 {
      padding-top: 40px; }



.image-list__wrap>div {
  margin-bottom: 20px;
}

.image-list__title {
  font-size: 24px
}

.image-list__item {
  position: relative;
  display: block;
  height: 100%;
  padding: 40px;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,.1)
}

.image-list__item img {
  width: auto;
  max-height: 60px;
  margin-bottom: 10px
}

.image-list__item span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  color: initial
}
